<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <components>

    <!--数据库帮助类-->
    <component id="Ghost_CRUD_DaoHelper" service="Ghost.CRUD.IDao.IDaoHelper, Ghost.CRUD" type="#{daoHelperImpl}"></component>
    <!--GhostUser-->
    <component id="Ghost_Login_GhostUserDao" service="Ghost.Login.IDao.IGhostUserDao, Ghost.Login" type="Ghost.Login.Dao.GhostUserDao, Ghost.Login"></component>
    <!--登录令牌-->
    <component id="Ghost_Login_LoginTokenDao" service="Ghost.Login.IDao.ILoginTokenDao, Ghost.Login" type="Ghost.Login.Dao.LoginTokenDao, Ghost.Login"></component>
    <!--登录序列-->
    <component id="Ghost_Login_LoginSequenceDao" service="Ghost.Login.IDao.ILoginSequenceDao, Ghost.Login" type="Ghost.Login.Dao.LoginSequenceDao, Ghost.Login"></component>

  </components>

</configuration>
