<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <properties>
    <!--Mssql配置-->
    <daoHelperImpl>Ghost.CRUD.Dao.MssqlDaoHelper, Ghost.CRUD</daoHelperImpl>
    <ibatisNetConfigFile>IBatisNet.config</ibatisNetConfigFile>
    <!--Oracle配置-->
    <!--<daoHelperImpl>Equal.CRUD.Dao.OracleDaoHelper, Equal.CRUD</daoHelperImpl>
        <ibatisNetConfigFile>Oracle.IBatisNet.config</ibatisNetConfigFile>-->
  </properties>

</configuration>
