<?xml version="1.0" encoding="utf-8"?>
<sqlMaps>
  <!--GhostUser-->
  <sqlMap embedded="${GhostSqlMapPrefix}GhostUser.xml, Ghost.Login"/>
  <!--登录令牌-->
  <sqlMap embedded="${GhostSqlMapPrefix}LoginToken.xml, Ghost.Login"/>
  <!--登录序列-->
  <sqlMap embedded="${GhostSqlMapPrefix}LoginSequence.xml, Ghost.Login"/>
</sqlMaps>
