<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!--Mssql配置-->
  <add key="DatabaseProvider" value="sqlServer2.0" />
  <add key="GhostSqlMapPrefix" value="Maps." />
  <add key="ConnectionString" value="Server=(local);Database=Ghost;Trusted_Connection=Yes;Connect Timeout=30" />

  <!--注意：使用不同数据库时，需将IBatisNet.Providers.config文件中对应provider的enabled设置为true-->
</settings>
