<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <!--<sectionGroup name="iBATIS">
            <section name="logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common"/>
        </sectionGroup>-->
    <!--<sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>-->
  </configSections>
  <castle>
    <include uri="file://Castle.Properties.config"/>
    <include uri="file://Castle.Facilities.config"/>
    <include uri="file://Castle.Services.Ghost.Login.config"/>
  </castle>
  <!--<iBATIS>
        <logging>
            <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.TraceLoggerFA, IBatisNet.Common">
                <arg key="showLogName" value="true"/>
                <arg key="showDataTime" value="true"/>
                <arg key="level" value="ALL"/>
                <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:SSS"/>
            </logFactoryAdapter>
        </logging> 
    </iBATIS>
    <iBATIS>
        <logging>
            <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
                <arg key="configType" value="inline"/>
            </logFactoryAdapter>
        </logging>
    </iBATIS>-->
  <!--<enyim.com>
        <memcached protocol="Binary">
            <servers>
                <add address="localhost" port="11211"/>
            </servers>
            <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:00:30"/>
        </memcached>
    </enyim.com>-->
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <!--<add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="log4net.txt"/>-->
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="APP_NAME" value="Ghost_Net"/>
    <!--<add key="CKeditor:BasePath" value="~/resources/ckeditor-4.7.2"/>
    <add key="ChartImageHandler" value="storage=memory;timeout=30;"/>-->
    <!--流程引擎调试模式，启用调试模式时流程页面处理流程发生异常时将直接抛出不捕捉，默认为False-->
    <!--<add key="ProcessEngineDebugMode" value="False"/>-->
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
  </appSettings>
  <connectionStrings/>
  <system.web>
    <httpHandlers>
      <!--<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>-->
    </httpHandlers>
    <!--maxRequestLength默认值4096=4M，改为2G-->
    <!--executionTimeout默认值110秒，改为10分钟-->
    <httpRuntime maxRequestLength="2097152" executionTimeout="1200" requestValidationMode="2.0" useFullyQualifiedRedirectUrl="true"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms timeout="44640"/>
    </authentication>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <!--<add namespace="Epoch.DDD"/>
        <add namespace="Epoch.BaseModule.Domain"/>
        <add namespace="Epoch.BaseModule.IDao"/>
        <add namespace="Epoch.BaseModule.ISvc"/>
        <add namespace="Epoch.BaseModule.Web"/>
        <add namespace="Epoch.Utility"/>
        <add namespace="Epoch.Utility.Web"/>
        <add namespace="Epoch.Web.WebControls"/>-->
      </namespaces>
      <controls>
        <!--<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="CKEditor" namespace="CKEditor.NET" assembly="CKEditor.NET"/>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
        <add tagPrefix="epoch" namespace="Epoch.Web.WebControls" assembly="Epoch.Web.WebControls.PopupInput"/>
        <add tagPrefix="epoch" src="~/pages/epoch-base-module/dictionary-edit.ascx" tagName="DictionaryEdit"/>
        <add tagPrefix="epoch" src="~/pages/epoch-base-module/todo-prod-list.ascx" tagName="TodoList"/>
        <add tagPrefix="epoch" src="~/pages/epoch-base-module/upload-single.ascx" tagName="UploadSingle"/>
        <add tagPrefix="epoch" src="~/pages/epoch-base-module/upload-multi.ascx" tagName="UploadMulti"/>
        <add tagPrefix="epoch" src="~/pages/epoch-base-module/upload-multi-with-type.ascx" tagName="UploadMultiWithType"/>
        <add tagPrefix="epoch" src="~/pages/epoch-base-module/uploadfile-list.ascx" tagName="UploadFileList"/>
        <add tagPrefix="epoch" src="~/pages/epoch-base-module/word-edit.ascx" tagName="WordEdit"/>
        <add tagPrefix="epoch" src="~/pages/epoch-base-module/word-view.ascx" tagName="WordView"/>-->
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <!--<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
    </handlers>
  </system.webServer>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
</configuration>

